/* RESET */
@import url("common.css");


body {
	width: 600px;
	margin: 0 auto;
	background-color: dimgray;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
	font-weight: bold;
	color: white;
	font-size: 48px;
	font-family: 'Open Sans Condensed', sans-serif;
}
h2 {
	font-weight: bold;
	color: #00B7BD;
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
}
h3 {
	font-weight: bold;
	color: black;
	padding-top: 25px;
}


.hidden {
	display:none !important;
}
.hidden, .invisible{
	visibility:hidden !important;
}

.header {
	min-height: 157px;
}
.topnote {
	min-height:35px;
	background-color: #FFF;
	color: #093870;
	text-align: center;
	padding: 10px 0;
	font-size: 15px;
}
.stuttgarts-banner {
	background-image: url("../images/header-banner.png");
	min-height: 122px;
	clear: both;
}
.articles {
	padding: 10px 11px 0 11px;
	background-color: #FFF;
	min-height: 697px;
}
.signature {
	padding: 32px 11px 30px 11px;
	background-color: #FFF;
	clear: both;
	font-size: 14px;
}	
.footer {
	padding: 22px 0 35px 0;
	background-color: #e9e9e9;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #093870;
	min-height: 300px;
	text-align: center;
	clear: both;
	font-size: 14px;
}


.logo {
	height: 89px;
	width: 87px;
}
.article-wrapper {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
	padding: 25px 0 36px 0;
	clear: both;
}
.article {
	min-height: 120px;
	position: relative;
	padding-top: 10px;
}
.article-title {
	min-height: 27px;
}
.article-1 {
	background-image: url("../images/title-article-1.png");
	background-repeat: no-repeat;
}
.article-2 {
	background-image: url("../images/title-article-2.png");
	background-repeat: no-repeat;
}
.article-3 {
	background-image: url("../images/title-article-3.png");
	background-repeat: no-repeat;
}
.article-thumbnail {
	width: 289px;
	float: left;
}
.article-preview {
	float: right;
	font-size: 14px;
}
.article-desc {
	width: 289px;
}
.weiterlesen {
	text-align: center;
	background-color: #014B94;
	width: 170px;
	float: right;
	padding: 10px 0;
	margin-top: 20px;
}
.weiterlesen-btn {
	color: white;
}
.sender {
	margin-top: 18px;
}
.footnotes {
	margin-bottom: 25px;
}
.company-name {
	padding-top: 15px;
}
.director {
	padding-top: 15px;
}
.company-addr {
	padding-top: 15px;
}
.company-registry {
	padding-top: 15px;
}


.topnote a:link {
	text-decoration: underline;
	color: #093870;
}
.topnote a:hover {
	text-decoration: none;
	color: royalblue;
}
.weiterlesen:hover {
	background-color: royalblue;
}
.weiterlesen a:hover {
	text-decoration: none;
	color: white;
}
.footnotes a:link {
	text-decoration: underline;
	color: black;
}
.footnotes a:hover {
	text-decoration: none;
	color: gray;
}