#container	{
	min-height:450px;
	width:960px;
	margin:auto;
	padding:0;
	font-family: Arial;
	overflow: hidden;
	}
		
/* right container */
#view-table {
	display: table;
	width: 100%;
	margin: 0;
	overflow: hidden;
	min-height: 200px;
	}
/* left container */
#view-row {
	display:table-row;
	}

.left-nav {
	display:table-cell;
	width: 320px;
	min-height: 200px;
	background-color: forestgreen;
	margin: 0;
	float: left;
	}
.right-nav {
	display:table-cell;
	min-height: 200px;
	width: 640px;
	margin: 0;
	float:right;
	}
.row {
	display: inline-block;
	}
.cell{
	min-height:100px;
	display: inline-block;
	position: relative;
	float: left;
	}
.colspan2{
	flex: 2;
	}
.left {
	padding: 0 10px;
	background-color:gold;
	width: 300px;
	}
.right {
	padding: 0 10px;
	background-color:purple;
	width: 300px;
	}
.right p	{
	color: white;
	}
.bottom {
	padding: 0 10px;
	background-color: royalblue;
	width: 620px;
	}
.bottom p	{
	font-style: bold;
	}
#header	{
	height:150px;
	width:100%;
	background-color: red;
	}
#header p	{
	color: white;
	}
#footer	{
	display: flex;
	height:100px;
	width:100%;
	margin: 0;
	background-color: lightgray;
	}
#footer p	{
	font-style: bold;
	margin: 0;
	align-self: flex-end;
	}