#container {
	width: 745px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 10px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
#header {
	
}
#body {
	
}
#footer {
	
}
.banner {
	width: 100%;
	height: 287px;
	background-image: url("../images/ex02-banner.png");
	background-position: center;
}
.left-ribbon{
	
}
.right-ribbon {
	
}
.nav-container {
	
}
.description-container {
	
}
.description-content {
	
}
.nav-content {
	
}

.intro {
	
}
.intro h3 {
	
}
.intro p {
	
}
.intro li {
	
}

.description {
	
}
.description h3 {
	
}
.description p {
	
}

.design-nav {
	
}
.design-nav h3 {
	
}
.design-nav li {
	
}

.archives-nav {
	
}
.archives-nav h3 {
	
}
.archives-nav li {
	
}
