/* Reset */
@import url("common.css");

body {
	border-top-color: #AAAAAC;
	border-top-style: solid;
	border-top-width: 1px;
	width: 100%;
	background-image: url("../images/ex04top-border2.png");
	background-repeat: repeat-x;
}

h3 {
	color: #535353;
	font-style: italic;
	font-size: 28px;
	margin-bottom: 15px;
	font-weight: normal;
}
h4 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: #535353;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 15px;
	border-bottom-color: #EEEEEE;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
b {
	font-weight: bold;
}


.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	float: both;
}
.hidden {
	display:none !important;
}
.hidden, .invisible{
	visibility:hidden !important;
}
.nav {
	float: right;
	width: 50%;
	padding-bottom: 30px;
}
.list {
	margin-bottom: 40px;
}


/* STRUCTURE/CONTENT */
.second-top-border{
	border-top-color: #EEEEEE;
	border-top-style: solid;
	border-top-width: 4px;
}
.page-wrapper {
	height: 100vh;
	width: 920px;
	margin: 0 auto;
	border-top-color: #444444;
	border-top-style: solid;
	border-top-width: 4px;
	overflow: hidden;
}
.header{
	float: left;
	width: 920px;
	min-height: 50px;
	padding: 30px 0 0 0;
	border-bottom-color: #e2e2e2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	clear: both;
}
.brand{
	float: left;
	width: 50%;
	padding-bottom: 30px;
}
.active {
	background-color: #7AB7E0;
	color: white !important;
	font-weight: bold;
}
.active .button-left-edge {
	background-image: url("../images/ex04button-left-edge.png");
	width: 11px;
	height: 22px;
	display: inline;
	float: left;
}
.active .button-right-edge {
	background-image: url("../images/ex04button-right-edge.png");
	width: 11px;
	height: 22px;
	display: inline;
	float: right;
}
.inactive .button-left-edge {
	background-image: url("../images/ex04button-inactive-edge.png");
	width: 11px;
	height: 22px;
	display: inline;
	float: left;
}
.inactive .button-right-edge {
	background-image: url("../images/ex04button-inactive-edge.png");
	width: 11px;
	height: 22px;
	display: inline;
	float: right;
}
.banner{
	float: left;
	width: 100%;
	min-height: 96px;
	border-bottom-color: #d0d0d0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-image: url("../images/ex04banner.png");
	background-repeat: no-repeat;
	clear: both;
}
.main-content {
	float: left;
	margin-top: 2px;
	padding: 40px 0 20px 0;
	width: 100%;
	border-top-color: #e2e2e2;
	border-top-style: solid;
	border-top-width: 1px;
	clear: both;
}
.left-nav{
	float: left;
	width: 220px;
	padding-right: 30px;
}
.featured-project{
	float: right;
	width: 654px;
	padding-left: 16px;
}
.footer {
	float:left;
	border-top-color: #e2e2e2;
	border-top-style: solid;
	border-top-width: 1px;
	width: 100%;
	min-height: 35px;
	clear: both;
	padding: 12px 0 30px 0;
	color: gray;
}
.footer-notes{
	width: 50%;
	float: left;
}
.footer-links{
	width: 50$;
	float: right;
}

/* IE7 NAV maxing out width */
.home {
	*max-width: 60px;
}
.work {
	*max-width: 58px;
}
.activity {
	*max-width: 75px;
}
.about {
	*max-width: 61px;
}
.notebook {
	*max-width: 85px;
}


/* SPECIFICS */
.nav a{
	text-decoration:none;
}
.nav a:hover {
	text-decoration: underline;
}
.nav ul{
	float: right;
	display: inline;
	*zoom: 1;
}
.nav li {
	display: inline;
	*zoom: 1;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0 5px;
	font-size: 12px;
	color: #535353;
	height:22px;
	float: left;
}
.nav li > span {
	padding-top: 3px;
	float: left;
	display: inline;
	*zoom: 1;
}
.main-content ul, p{
	font-size: 12px;
}
.left-nav ul{
	line-height: 22px;
	list-style-type: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.left-nav li{
	color: #989B93;
}
.more-entries a:hover {
	text-decoration: underline;
	color: blue;
}
.featured-project a {
	color: royalblue;
}
.featured-project a:hover {
	text-decoration: none;
}
.featured-project a:visited {
	color: purple;
}
.list li > span{
	color: dimgray;
}
.more-entries{
	text-align: center;
	font-weight: bold;
	background-color: #F2F2F2;
}
.featured-project p{
	color: gray;
	line-height: 28px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer p, ul {
	font-size: 10px;
	font-family: Verdana, Geneva,sans-serif;
	color: #989B93;
}
.footer-links li {
	display: inline;
}
.footer-links a{
	text-decoration:none;
	color: gray;
}
.footer-links a:hover {
	text-decoration: underline;
}
.footer-links a:visited {
	color: purple;
}
