/* RESET */
@import url("common.css");

@font-face {
	font-family: OpenSansExtraBold;
	src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
}

/* GENERICS */
body {
	font-family: "Open Sans", sans-serif;
}
header {
	background-color: #FFD364;
}
h1 {
	font-weight: bold;
	color: #0A83AE;
}
h3 {
	font-weight: 800;
	text-align: center;
	color: white;
}
h4 {
	font-weight: 800;
	text-align: center;
	color: #0785B8;
}
h5 {
	color: white;
	font-weight: 800;
	background-color: #0686B3;
	padding: 10px 0;
	text-align: center;
}
h6 {
	font-weight: 800;
	padding-bottom: 20px;
}
b {
	font-weight: bold;
}
footer {
	border-top: 1px solid #353535;
}

/* CUSTOM CLASSES */
.hidden {
	display:none !important;
}
.hidden, .invisible{
	visibility:hidden !important;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding:0;
}
.gray {
	background-color: #777777;
	color: white;
}

/* BOOTSTRAP CUSTOMIZATIONS */
.fa {
	color: white;
	font-size: 1.5em;
	padding: 0;
}
.navbar-toggle {
	margin-top: 15px;
	border-color: darkgoldenrod;
	background-color: orange;
	padding: 0 8px 8px 8px;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
	background-color: gold;
}
.navbar-toggle .icon-bar {
	background-color: darkgoldenrod;
}


/* BANNERS */
.splash-banner {
	background: url("../images/splash-banner.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.teampartnerinnen-banner {
	/*
		background: url("../images/team-partner.png") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 608px;
		padding: 0 45px;
	*/
}
.a-kader-banner {
	/*
		background: url("../images/a-squad-banner.png") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 284px;
		padding: 0 45px;
	*/
}
.goal-banner {
	/*
		background: url("../images/goal-banner.png") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 342px;
		padding: 0 45px;
	*/
}
.invite-banner {
	/*
		background: url("../images/invite-banner.png") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 342px;
		padding: 0 45px;
	*/
}


/* PLAYER PROFILE SECTION */
.player-info {
	padding: 0;
	width: 100%;
}
.player-info>.row {
	margin:0;
	width: 100%;
}
.chantal {
	overflow: hidden;
	width: 100%;
}
.julia {
	overflow: hidden;
	width: 100%;
}
.player-info-table>tbody>tr>td {
	border-top: none;
	border-bottom: 1px solid #0686B3;
}
.motto p{
	color: #0686B3;
	font-style: italic;
	font-weight: 800;
}


/* TIMELINE SECTION */
.success-timeline {
	color: #0785B8;
}
.success-timeline h4{
	text-align: center;
}
.i-icon {
	background-image: url("../images/timeline-dot.png");
}
.time {
	color: #0785B8;
	position: absolute;
	font-weight: bold;
}

/* TURNIERE SECTION */
.turniere h4{
	text-align: center;
	color: #0785B8;
}
.turniere-table>tbody>tr>td {
	border-top: none;
	border-bottom: 1px solid #0785B8;
}
.table-hover > tbody > tr:hover {
	background-color: beige;
}


/* SOCIAL MEDIA SECTION */
.social-media {
	padding-top: 20px;
	padding-bottom: 60px;
}
.social-media-icons {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}
.social-media-icons li{
	display: inline-block;
	margin: -1px;
}
.gray:hover{
	background-color: dimgray;
}
.social-media-icons>ul>li>a>i{
	padding: 8px;
}
.fa-all {
	font-weight: bold;
	font-size: 16px;
	padding: 6px;
}
.fa-all:link, .fa-all:hover {
	color: white;
	text-decoration: none;
}
.social-media-posts {
	max-width: 750px;
}
.fb-post {
	padding: 7px 15px;
}
.fb-post.col-md-12 {
	text-align: center;
}
.fb-post img {
	border: 1px solid lightgray;
    box-shadow: 2px 2px 3px #C1C1C1;
}


/* PARTNERS SECTION */
.partners-row {
	background: url("../images/partners-row.png") no-repeat center center;
	height:130px;
}
.partner-info {
	text-align: center;
}
.ansprechpartner b {
	color: black;
}


/* CONTACT SECTION */
.kontakt {
	background-color: #353535;
	color: white;
}
.kontakt h3 {
	color: white;
}
.contact-row {
	padding-bottom: 30px;
}
.address {
	padding-bottom: 20px;
}
.fax {
	padding-bottom: 20px;
}
.email {
	padding-bottom: 20px;
}
.email-contact {
	color: lightpink;
}
.contact-details {
	padding-bottom: 30px;
}
.contact-form>form>.row {
	padding-bottom: 15px;
}
.contact-form input {
	border-radius: 0;
	font-size: 11px;
}
.contact-form textarea {
	border-radius: 0;
	font-size: 11px;
}
.contact-form a{
	padding: 12px 0;
	font-weight: 800;
}
.send-btn {
	background-color: #FAD662;
	color: #353535;
	font-weight: bold;
	border-radius: 0;
}
#map-container {
	height: 223px;
	width: 100%;
}

/* FOOTER */
.footer-class p, .footer-class li, .footer-class a:link{
	color: #353535;
}
.footer-class li{
	font-weight: bold;
}

/* SPECIFICS */
.social-icons li>a:hover {
	background-color: orange;
}
.menu li>a {
	color: white;
	font-weight: bold;
}
.menu>li>a:hover{
	background-color: inherit;
	border-bottom: 2px solid yellow;
}

/*
	*
	* MEDIA QUERIES
	*
*/

/*
	*	PHONES
*/
@media screen and (max-width: 767px) {
	
	header {
		padding: 0 15px;
	}
	h1 {
		font-size: 14px;
	}
	h3 {
		font-size: 24px;
		padding: 20px 0 30px 0;
	}
	h4 {
		padding: 15px 0;
		font-size: 18px;
		padding: 15px 0;
	}
	h6 {
		font-size: 11px;
	}
	nav>div.container-fluid {
		padding: 0;
	}
	
	.padding-right {
		padding: 0;
	}
	.padding-left {
		padding: 0;
	}
	
	.navbar-brand {
		max-width: 260px;
	}
	
	
	.splash-banner {
		height: 250px;
		padding: 0 15px;
	}
	#navbar-menu {
		padding: 0;
	}
	.menu {
		background-color: orange;
		margin: 0;
	}
	.menu>li>a {
		font-size: 14px;
	}
	.menu>li {
		padding-left: 15px;
	}
	
	/* PLAYER INFO */
	div.col-md-6.table-responsive {
		border: 0;
	}
	.player-info table{
		font-size: 13px;
	}
	.chantal, .julia {
		padding-left: 15px;
		padding-right: 15px;
	}
	.motto {
		padding-bottom: 12px;
	}
	.motto p{
		font-size: 14px;
	}
	
	/* TIMELINE SECTION */
	.success-timeline {
		padding: 0 55px 20px 55px;
	}
	.time {
		font-size: 12px;
	}
	.timeline-body>p{
		font-size: 12px;
	}
	.time-left{
		margin-left: -91px;
		margin-top: 12px;
	}
	.time-right{
		margin-left: -91px;
		margin-top: 11px;
	}
	.success-timeline>.row>.timeline>.timeline-item>.timeline-event:before {
		left: -9px !important;
	}
	
	/* TURNIERE SECTION */
	.turniere {
		padding-bottom: 20px;
	}
	.turniere>.container-fluid>.row{
		padding: 0 15px;
	}
	.turniere table{
		font-size: 12px;
		padding: 0 
	}
	.turniere-table>tbody>tr>td {
		padding: 4px;
	}
	
	/* PARTNERS SECTION */
	.partner-info {
		font-size: 13px;
	}
	.ansprechpartner {
		padding: 15px 0 30px 0;
	}
	
	/* CONTACT */
	.contact-details p, b, a {
		font-size: 11px;
	}
	.contact-footnotes p{
		font-size: 10px;
	}
	
	/* FOOTER */
	.footer-class {
		padding: 10px 15px 15px 15px;
	}
	.footer-class p, .footer-class a{
		font-size: 11px;
	}
	.footer-class>div>.text-left{
		padding-right: 0;
	}
	.footer-class>div>.text-right{
		padding-left: 0;
	}
	
}

/*
	*	TABLETS & LAPTOPS
*/
@media screen and (min-width: 768px) {
	
	header {
		padding: 0 45px;
	}
	h3 {
		font-size: 30px;
		padding: 25px 0 60px 0;
	}
	h4 {
		padding: 30px 0;
		font-size: 21px;
		padding: 28px 0;
	}
	h6 {
		font-size: 13px;
	}
	
	.padding-right {
		padding: 0 15px 0 0;
	}
	.padding-left {
		padding: 0 0 0 15px;
	}
	
	.splash-banner {
		height: 625px;
		padding: 0 45px;
	}
	.splash-banner>nav>.container-fluid {
		padding: 0;
	}
	.menu>li>a {
		font-size: 19px;
	}
	
	.player-info table{
		font-size: 14px;
	}
	.chantal{
		padding-left: 145px;
	}
	.julia {
		padding-right: 145px;
	}
	.motto {
		padding-bottom: 18px;
	}
	.motto p{
		font-size: 15px;
	}
	
	/* TIMELINE SECTION */
	.success-timeline {
		padding: 0 155px 30px 175px;
	}
	.success-timeline h4{
		text-align: center;
	}
	.time {
		font-size: 14px;
	}
	.time-left{
		margin-left: -82px;
		margin-top: 11px;
	}
	.time-right{
		margin-left: 387px;
		margin-top: 11px;
	}
	
	/* TURNIERE SECTION */
	.turniere {
		padding-bottom: 30px;
	}
	.turniere h4{
		padding: 28px 0;
	}
	.turniere>.container-fluid>.row{
		padding: 0 110px 0 110px;
	}
	.turniere table{
		font-size: 15px;
	}
	.turniere-table>tbody>tr>td {
		padding: 4px;
	}
	
	/* PARTNERS SECTION */
	.ansprechpartner {
		padding: 35px 0;
	}
	.ansprechpartner b {
		font-size: 16px;
	}
	
	/* CONTACT */
	.contact-details p, b, a {
		font-size: 12px;
	}
	.contact-footnotes p{
		font-size: 11px;
	}	
	
	/* FOOTER */
	.footer-class {
		padding: 12px 60px 30px 60px;
	}
	.footer-class p, .footer-class a{
		font-size: 14px;
	}
	
}

/* 
	*	LAPTOPS & DESKTOP MONITORS
*/
@media screen and (min-width: 1200px) {
	
	header {
		padding: 0 60px;
	}
	h3 {
		font-size: 32px;
		padding: 25px 0 60px 0;
	}
	h4 {
		padding: 30px 0;
		font-size: 24px;
		padding: 28px 0;
	}
	h6 {
		font-size: 13px;
	}
	
	.padding-right {
		padding: 0 15px 0 0;
	}
	.padding-left {
		padding: 0 0 0 15px;
	}
	
	.splash-banner {
		height: 792px;
		padding: 0 60px;
	}
	.menu>li>a {
		font-size: 19px;
	}
	
	.player-info table{
		font-size: 15px;
	}
	.chantal {
		padding-left: 165px;
	}
	.julia {
		padding-right: 165px;
	}
	.motto {
		padding-bottom: 20px;
	}
	.motto p{
		font-size: 16px;
	}
	
	/* TIMELINE SECTION */
	.success-timeline {
		padding: 0 125px 30px 125px;
	}
	.success-timeline h4{
		text-align: center;
	}
	.time {
		font-size: 14px;
	}
	.time-left{
		margin-left: -82px;
		margin-top: 11px;
	}
	.time-right{
		margin-left: 557px;
		margin-top: 11px;
	}
	
	/* TURNIERE SECTION */
	.turniere {
		padding-bottom: 30px;
	}
	.turniere h4{
		padding: 28px 0;
	}
	.turniere>.container-fluid>.row{
		padding: 0 110px 0 110px;
	}
	.turniere table{
		font-size: 15px;
	}
	.turniere-table>tbody>tr>td {
		padding: 4px;
	}
	
	/* PARTNERS SECTION */
	.ansprechpartner {
		padding: 50px 0;
	}
	.ansprechpartner b {
		font-size: 16px;
	}
	
	/* CONTACT */
	.contact-details p, b, a {
		font-size: 12px;
	}
	.contact-footnotes p{
		font-size: 11px;
	}
	
	
	/* FOOTER */
	.footer-class {
		padding: 12px 60px 30px 60px;
	}
	.footer-class p, .footer-class a{
		font-size: 14px;
	}
	
}
