#container	{
	height:100%;
	width:960px;
	margin:auto;
	padding:0;
	position:relative;
	overflow: hidden;
	}
.left-container{
	float: left;
	height:100%;
	width: 254px;
	position: relative;
	background-color:royalblue;
	border-color: blue;
	border-style: solid;
	border-width: 3px;
	}
.right-container{
	float: left;
	height:100%;
	width: 957px;
	position: relative;
	background-color: lightgray;
	overflow: hidden;
	clear: both;
	border-right-color: red;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-color: red;
	border-top-style: solid;
	border-top-width: 3px;
	}
#left	{
	width:254px;
	clear:none;
	margin:0;
	overflow: hidden;
	position: relative;
	left: 965px;
	}
#right	{
	width:677px;
	padding:10px;
	clear:none;
	margin:0;
	overflow: hidden;
	position: relative;
	left: 260px;
	top: -3px;
	}
#header	{
	height:150px;
	width:954px;
	background-color:yellow;
	position: relative;
	margin-top:1px;
	border-top-color: red;
	border-top-style: solid;
	border-top-width: 3px;
	border-left-color: red;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-color: red;
	border-right-style: solid;
	border-right-width: 3px;
	}
#footer	{
	height:194px;
	width:954px;
	margin: 0;
	background-color:red;
	border-color: blue;
	border-style: solid;
	border-width: 3px;
	position: relative;
	}
.clear {
	clear: both;
	}