#container	{
			width:960px;
			margin:auto;
			padding:0;
			overflow: hidden;
			}
.container2 {
			display: table;
			width: 100%;
			overflow: hidden;
			}
.container1 {
			display:table-row;
			}
.left	{
			display:table-cell;
			width:160px;
			height:200px;
			background-color:yellowgreen;
			clear:none;
			margin:0;
			position: relative;
			}
.left p {
			font-family: Arial;
			}
.center	{
			display:table-cell;
			width:600px;
			height:200px;
			background-color: purple;
			clear:none;
			margin:0;
			}
.right	{
			display:table-cell;
			width:200px;
			height:200px;
			background-color: royalblue;
			clear:none;
			margin:0;
			}
#header	{
			height:150px;
			background-color: lightgray;
			}
#footer	{
			height:100px;
			background-color:red;
			}
#box-sml	{
			height:10px;
			width:10px;
			background-color:white;
			position: absolute;
			}
#box-md	{
			height:30px;
			width:30px;
			background-color:white;
			position: absolute;
			}
.top-left {
			top:0;
			left:0;
			}
.top-right {
			top:0;
			right:0;
			}
.bottom-left {
			bottom:0;
			left:0;
			}
.bottom-right {
			bottom:0;
			right:0;
			}
.float-box {
			width:50px;
			height:30px;
			top: 160px;
			right: 10px;
			background-color: gold;
			position:fixed;
			}