#container	{
	min-height:610px;
	width:960px;
	margin:auto;
	padding:0;
	overflow: hidden;
	}
.left-container{
	display:table-row;
	}
.right-container{
	display: table;
	width: 100%;
	overflow: hidden;
	top: -3px;
	position: relative;
	}
#left	{
	display:table-cell;
	width:254px;
	background-color:rgba(58, 94, 202, 1);
	clear:none;
	margin:0;
	border: 3px solid rgba(0 , 0, 139, 0.75);
	border-radius: 2px;
	}
#right	{
	display:table-cell;
	width:677px;
	padding:10px;
	background-color: lightgray;
	clear:none;
	margin:0;
	border-right: 3px solid rgba(0, 0, 139, 0.75);
	border-top: 3px solid rgba(255, 0, 0, 0.85);
	}
#header	{
	height:150px;
	width:954px;
	background-color:yellow;
	border:3px solid rgba(255,0,0,1);
	border-radius: 2px;
	}
#footer	{
	height:194px;
	width:954px;
	margin: 0;
	background-color:red;
	border: 3px solid rgba(0,0,139,0.75);
	border-radius: 2px;
	top: -6px;
	position: relative;
	}
	